<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/counter']">Counter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']">Posts</a>
        </li>
      

      </ul>
        
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/auth/signup']"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
        <li *ngIf="!(isAuthenticated |async)"><a [routerLink]="['/auth']"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li *ngIf="isAuthenticated |async"><a [routerLink]="['/auth']"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>

      </ul>
    </div>
  </div>
</nav>
