<div class="row">
 <div class="col-md-8">
    <h3>Posts List</h3>

    <div>
        <a href="" class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
    </div>

    <table class="table table-striped" *ngIf="posts | async as postsData">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of postsData">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td class="text-center">
                    <a href="" [routerLink]="['edit', item.id]" class="m-3">
                        <i class="bi bi-info-circle"></i>
                    </a>
                    <a (click)="onDeletePost(item.id)" class="text-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
 </div>
 <div class="col-md-4">
    <router-outlet></router-outlet>
 </div>
</div>